@mixin margen($top, $bottom){
 margin-top: $top;
 margin-bottom: $bottom;
}

body{
    background-image: url("../images/books-g99d1711bc_1920.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cont-form{
    padding: 20px 10px 10px 10px;
    background-color: bisque;
    @include margen(100px, 0px)
}

.mis-libros{
    max-height: 300px;
    @include margen(50px, 0px)
}

.etiquetas{
    font-weight: bold;
}


.describes{
    padding: 0px 20px 0px 20px;
}

.title{
    @include margen(0px, 20px)
}

i{
    margin-left: 10px;
}
.mi-button{
    background-color:transparent;
    outline:none;
}
.mi-button:focus{
    box-shadow: none;
    border: none;
}
.activa{
    color: aquamarine;
}

.inactiva{
    color:cornsilk;
}